USE [Stok_Takip]
GO
/****** Object:  Table [dbo].[Kullanıcı]    Script Date: 6.01.2025 04:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanıcı](
	[kullanıcı_ad_soyad] [nvarchar](30) NOT NULL,
	[kullanıcı_telefon] [nvarchar](10) NOT NULL,
	[kullanıcı_eposta] [nchar](30) NOT NULL,
	[kullanıcı_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Kullanıcı] PRIMARY KEY CLUSTERED 
(
	[kullanıcı_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stok]    Script Date: 6.01.2025 04:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stok](
	[stok_kodu] [int] NOT NULL,
	[ürün_adı] [nvarchar](30) NOT NULL,
	[ürün_miktarı] [int] NOT NULL,
	[stok_tarih] [datetime] NULL,
	[stok_alis_fiyati] [numeric](18, 2) NULL,
	[stok_satis_fiyati] [numeric](18, 2) NULL,
	[ad_soyad] [nchar](30) NULL,
 CONSTRAINT [PK_Stok] PRIMARY KEY CLUSTERED 
(
	[stok_kodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kullanıcı] ON 

INSERT [dbo].[Kullanıcı] ([kullanıcı_ad_soyad], [kullanıcı_telefon], [kullanıcı_eposta], [kullanıcı_id]) VALUES (N'Firma X', N'550777666', N'firmax@gmail.com              ', 4)
INSERT [dbo].[Kullanıcı] ([kullanıcı_ad_soyad], [kullanıcı_telefon], [kullanıcı_eposta], [kullanıcı_id]) VALUES (N'Gabe Newell', N'00000', N'valvesoftware                 ', 6)
INSERT [dbo].[Kullanıcı] ([kullanıcı_ad_soyad], [kullanıcı_telefon], [kullanıcı_eposta], [kullanıcı_id]) VALUES (N'Çağrı Çardak', N'5392485228', N'cagricrdk34@gmail.com         ', 1008)
SET IDENTITY_INSERT [dbo].[Kullanıcı] OFF
GO
INSERT [dbo].[Stok] ([stok_kodu], [ürün_adı], [ürün_miktarı], [stok_tarih], [stok_alis_fiyati], [stok_satis_fiyati], [ad_soyad]) VALUES (111, N'Kitap', 170, CAST(N'2025-01-03T04:12:31.480' AS DateTime), CAST(100.00 AS Numeric(18, 2)), CAST(200.00 AS Numeric(18, 2)), N'Firma X                       ')
INSERT [dbo].[Stok] ([stok_kodu], [ürün_adı], [ürün_miktarı], [stok_tarih], [stok_alis_fiyati], [stok_satis_fiyati], [ad_soyad]) VALUES (117, N'Gömlek', 100, CAST(N'2025-01-06T02:22:48.007' AS DateTime), CAST(1500.00 AS Numeric(18, 2)), CAST(2000.00 AS Numeric(18, 2)), N'Çağrı Çardak                  ')
INSERT [dbo].[Stok] ([stok_kodu], [ürün_adı], [ürün_miktarı], [stok_tarih], [stok_alis_fiyati], [stok_satis_fiyati], [ad_soyad]) VALUES (501, N'Ülker Gofret', 100, CAST(N'2024-12-19T00:00:00.000' AS DateTime), CAST(230.00 AS Numeric(18, 2)), CAST(305.00 AS Numeric(18, 2)), N'Ülker                         ')
GO
